In [ ]:
import pandas as pd
from ydata_profiling import ProfileReport
from pathlib import Path
import numpy as np

# Full Data FAST ProfileReport EDA

In [103]:
DATA_PATH = 'C:/Users/weiji/Documents/Full Data.csv'
OUTPUT_PATH_pdReport = 'C:/Users/weiji/Documents/EDA_first_overall.html'


MEASURES = ['CP AA ASIS NIR','MET AA ASIS NIR',
'LYS AA ASIS NIR', 'KOH PS RED ASIS NIR', 'TIA A RED ASIS NIR', 'LYS REACTIVE LYS RATIO RED ASIS NIR']
INTERESTED_COLUMNS = ['Country','Country of processing','Customer', 'Delivery date',
                      'Description','Lab customer', 'Lab no','Supplier'] + MEASURES
df = pd.read_csv(DATA_PATH)
MAPPER = ''

df.columns = [c.upper() for c in df.columns]

df_filtered = df[[c.upper() for c in INTERESTED_COLUMNS]]
for m in MEASURES:
    if df_filtered[m].dtype == 'float64':
        continue
    else:
        df_filtered[m] = df_filtered[m].str.extract('([0-9.]+)').apply(pd.to_numeric)


profile = ProfileReport(df_filtered, title='EDA First Overall Draft')
profile.config.html.style.primary_colors = ['#9A2782', '#e41a1c', '#4daf4a']
profile.to_file(OUTPUT_PATH_pdReport)

C:\Users\weiji\AppData\Local\Temp\ipykernel_18676\3377124385.py:9: DtypeWarning: Columns (0,1,3,4,7,8,11,12,15,16,20,23,25,26,32,34,35,36,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(DATA_PATH)
C:\Users\weiji\AppData\Local\Temp\ipykernel_18676\3377124385.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered[m] = df_filtered[m].str.extract('([0-9.]+)').apply(pd.to_numeric)
C:\Users\weiji\AppData\Local\Temp\ipykernel_18676\3377124385.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered[m] = df_filtered[m].str.extract('([0-9.]+)').apply(pd.to_numeric)
C:\Users\weiji\AppData\Local\Temp\ipykernel_18676\3377124385.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered[m] = df_filtered[m].str.extract('([0-9.]+)').apply(pd.to_numeric)
C:\Users\weiji\PycharmProjects\MtechISS\venv\lib\site-packages\ydata_profiling\utils\dataframe.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"index": "df_index"}, inplace=True)

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [102]:
profile.config.html.style

Style(primary_colors=['#377eb8', '#e41a1c', '#4daf4a'], logo='', theme=None)

# Preprocessing

In [2]:
MAIN_FOLDER_PATH = Path('C:/Data/MtechCapStone_Y1S1')
DATA_DICTIONARY_PATH = 'Information/DataConfig.xlsx'
RAW_FOLDER_PATH = 'RawData'

In [3]:
OUTPUT_FILE = 'C:/Users/weiji/Documents/Preprocessed_Data_Feature_engineering.xlsx'
HOLISTIC_OUTPUT_FILE = 'C:/Users/weiji/Documents/Preprocessed_Data_Feature_engineering_Holistic.xlsx'

In [4]:
data_dictionary_df = pd.read_excel(MAIN_FOLDER_PATH / DATA_DICTIONARY_PATH)
data_dictionary_df

,Fields Name,Example,Metrics,PreprocessingSteps,InitialType,MetricType,Remarks
0,Customer,Venky's India Ltd - Nanded (64151),NaN,Keep,String,NaN,NaN
1,Lab customer,"Venky's India Ltd. - Nanded, Nanded, 56080",NaN,Keep,String,NaN,NaN
2,Country,India,NaN,Keep,String,NaN,NaN
3,Origin,India,NaN,Keep,String,NaN,NaN
4,Origin Subregion,NaN,NaN,Ignore,String,NaN,Empty Values
...,...,...,...,...,...,...,...
203,ASP_SID_CORR_REDBROILER_ASIS_NIR,NaN,NaN,Ignore,String,NaN,NaN
204,GLU_SID_CORR_REDBROILER_ASIS_NIR,NaN,NaN,Ignore,String,NaN,NaN
205,GLY_SID_CORR_REDBROILER_ASIS_NIR,NaN,NaN,Ignore,String,NaN,NaN
206,PRO_SID_CORR_REDBROILER_ASIS_NIR,NaN,NaN,Ignore,String,NaN,NaN
207,SER_SID_CORR_REDBROILER_ASIS_NIR,NaN,NaN,Ignore,String,NaN,NaN

In [5]:
COLS_TO_BE_KEPT = data_dictionary_df[data_dictionary_df.PreprocessingSteps.isin(['Keep','Metrics'])]['Fields Name']
OUTPUT_LIST = []
for raw_file in (MAIN_FOLDER_PATH/RAW_FOLDER_PATH).iterdir():
    if "$" in str(raw_file):
        continue
    print(f"Loading {raw_file}")
    OUTPUT_LIST.append(pd.read_excel(raw_file, usecols=COLS_TO_BE_KEPT))
overall_df = pd.concat(OUTPUT_LIST)

Loading C:\Data\MtechCapStone_Y1S1\RawData\2022-01.xlsx
Loading C:\Data\MtechCapStone_Y1S1\RawData\2022-02.xlsx
Loading C:\Data\MtechCapStone_Y1S1\RawData\2022-03.xlsx
Loading C:\Data\MtechCapStone_Y1S1\RawData\2022-04.xlsx
Loading C:\Data\MtechCapStone_Y1S1\RawData\2022-05.xlsx
Loading C:\Data\MtechCapStone_Y1S1\RawData\2022-06.xlsx
Loading C:\Data\MtechCapStone_Y1S1\RawData\2022-07.xlsx
Loading C:\Data\MtechCapStone_Y1S1\RawData\2022-08.xlsx
Loading C:\Data\MtechCapStone_Y1S1\RawData\2022-09.xlsx
Loading C:\Data\MtechCapStone_Y1S1\RawData\2022-10.xlsx
Loading C:\Data\MtechCapStone_Y1S1\RawData\2022-11.xlsx
Loading C:\Data\MtechCapStone_Y1S1\RawData\2022-12.xlsx

In [6]:
overall_df = pd.concat(OUTPUT_LIST)

In [7]:
overall_df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Customer,39395,87,Shanthi Feeds Private Limited (4080),6734,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lab customer,39395,108,"Shanthi Feeds, Coimbatore, 3182",6734,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Country,39395,14,India,15719,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Origin,13043,20,Argentina,5914,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Supplier,3547,275,FKS,322,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Country of processing,417,6,Indonesia,240,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lab no,39395,39395,IN22-0000012-001,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Material type,39395,1,Raw Materials,39395,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Material,39395,4,Soybean Meal,33906,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Phase,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Release date,39395,324,2022-10-21,674,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Delivery date,39395,325,2022-10-21,674,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Description,3714,1366,SBM,465,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sample Descr. 1,39273,22369,AMINONIR ADVANCED Evonik Full fat Soybean mea...,3103,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sample Descr. 2,35901,16360,SBM,2256,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sample Descr. 3,27642,5700,supplier name SHANTHI FEEDS,2321,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sample Descr. 4,6580,2180,Silo no. Bin no.,839,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CP_AA_ASIS_NIR,39435.0,2107.0,46.85,145.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MET_AA_ASIS_NIR,39435.0,308.0,0.631,595.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
LYS_AA_ASIS_NIR,39435.0,1195.0,2.84,158.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
KOH_PS_RED_ASIS_NIR,18764,441,> 98.1,231,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TIA_A_RED_ASIS_NIR,18764.0,282.0,3.1,629.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
LYS_REACTIVE_LYS_RATIO_RED_ASIS_NIR,18764,6612,> 94.003,57,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
filtered_df = overall_df.copy()
filtered_df = filtered_df[~pd.isna(filtered_df['Lab no'])]
filtered_df['Customer_ID'] = filtered_df['Customer'].str.extract('\(([0-9.]+)\)')
filtered_df['Customer_Name'] = filtered_df['Customer'].str.extract('([^(]+)')
filtered_df['Customer_Name'] = filtered_df['Customer_Name'].str.upper().str.strip()
filtered_df['Lab_Customer_ID'] = filtered_df['Lab customer'].str.extract('\(([0-9.]+)\)')
filtered_df['Lab_Customer_Name'] = filtered_df['Lab customer'].str.extract('([^(]+)')
filtered_df['Lab_Customer_Name'] = filtered_df['Lab_Customer_Name'].str.upper().str.strip()
filtered_df = filtered_df.replace({'<NA>': np.NaN})
## Preprocessing
def normalisation(series, top=3, btm=-3):
    return ((series - series.mean()) / series.std()).apply(lambda x: min(max(x, btm), top))

def zto100(score, top=18, btm=-18):
    return (min(max(score, btm), top)-btm)/(top-btm) * 100

METRIC_COL = data_dictionary_df[data_dictionary_df.PreprocessingSteps.isin(['Metrics'])]['Fields Name']
NUTRITION_COL = data_dictionary_df[data_dictionary_df.MetricType.isin(['Nutrition'])]['Fields Name']
PROCESSING_COL = data_dictionary_df[data_dictionary_df.MetricType.isin(['Processing'])]['Fields Name']

for metric_col in METRIC_COL:
    filtered_df[metric_col] = filtered_df[metric_col].astype('str').str.extract('([0-9.]+)').apply(pd.to_numeric)
    if data_dictionary_df[data_dictionary_df['Fields Name'] == metric_col]['Metrics'].iloc[0] == 'Lower the better':
        filtered_df[metric_col+ '_z_score'] = normalisation(filtered_df[metric_col] * -1).fillna(-3)
    filtered_df[metric_col+ '_z_score'] = normalisation(filtered_df[metric_col]).fillna(-3)
    filtered_df[metric_col + '_score'] = filtered_df[metric_col + '_z_score'].apply(zto100, args=[3,-3])
NON_METRIC_COL = data_dictionary_df[data_dictionary_df.PreprocessingSteps.isin(['Keep'])]['Fields Name']

for non_metric_col in NON_METRIC_COL:
    filtered_df[non_metric_col] = filtered_df[non_metric_col].fillna('NoInfo')

filtered_df['Holistic Z Score'] = filtered_df[[metric_col + '_z_score' for metric_col in METRIC_COL]].sum(axis=1)
filtered_df['Holistic Score'] = filtered_df['Holistic Z Score'].apply(zto100)
filtered_df['Nutrition Z Score'] = filtered_df[[metric_col + '_z_score' for metric_col in NUTRITION_COL]].sum(axis=1)
filtered_df['Nutrition Score'] = filtered_df['Nutrition Z Score'].apply(zto100)
filtered_df['Processing Z Score'] = filtered_df[[metric_col + '_z_score' for metric_col in PROCESSING_COL]].sum(axis=1)
filtered_df['Processing Score'] = filtered_df['Processing Z Score'].apply(zto100)

In [9]:
filtered_df.to_excel(OUTPUT_FILE, index=False)

In [89]:
# Create Dimensions Table
UNIQUE_MATERIAL = filtered_df['Material'].unique()
UNIQUE_COUNTRY = filtered_df['Country'].unique()

output = []
aggfunc = ['median', 'average']
cols_to_agg = ['Nutrition Score','Processing Score', 'Holistic Score']

for material in UNIQUE_MATERIAL:
    for country in UNIQUE_COUNTRY:
        temp_df = filtered_df[(filtered_df['Material'] == material) & (filtered_df['Country'] == country)]
        o = [material, country]
        m = []
        for func in aggfunc:
            for col in cols_to_agg:
                m.append(func + col.replace(' ', ''))
                if len(temp_df[col].dropna()) != 0:
                    o.append(temp_df[col].agg(func))
                else:
                    o.append(0)
        output.append(o)

holistic_df = pd.DataFrame(output)
holistic_df.columns = ['material', 'country', *m]

In [90]:
holistic_df.head()

,"Soybean, Raw",Singapore,medianNutritionScore,medianProcessingScore,medianHolisticScore,averageNutritionScore,averageProcessingScore,averageHolisticScore
0,Soybean Meal,India,52.625071,25.000000,29.590886,53.038742,33.293974,36.332716
1,Soybean Meal,Nepal,53.679159,25.000000,29.207902,52.794134,25.629737,28.423871
2,Soybean Meal,Pakistan,52.428167,45.362510,48.017602,52.497715,44.180875,46.678590
3,Soybean Meal,Vietnam,47.179738,25.000000,22.179738,48.382971,27.650674,26.033646
4,Soybean Meal,Indonesia,55.175153,48.052374,52.183930,54.891399,42.405414,47.296813
5,Soybean Meal,Philippines,54.718281,46.306224,50.609051,54.570795,40.880705,45.451500
6,Soybean Meal,Sri Lanka,51.792896,25.000000,26.931967,51.778921,26.572569,28.351490
7,Soybean Meal,Malaysia,51.818871,25.000000,26.823401,52.329358,27.779677,30.109035
8,Soybean Meal,Thailand,57.068229,25.000000,32.385539,56.857777,29.612748,36.470525
9,Soybean Meal,Australia,52.179337,47.694944,49.334586,51.911320,47.634732,49.546052
10,Soybean Meal,Bangladesh,52.857952,25.000000,27.857952,53.191602,25.000000,28.191602
11,Soybean Meal,New Zealand,53.693491,46.440047,50.196693,53.715236,45.745106,49.460342
12,Soybean Meal,Myanmar,54.224408,25.000000,29.339536,54.154122,25.666970,29.821092
13,Soybean Meal,Singapore,56.927444,45.428218,51.197735,56.332690,45.097160,51.429851
14,Soybean Full Fat,India,36.323637,53.063457,39.988641,36.261765,54.076421,40.338186
15,Soybean Full Fat,Nepal,28.255467,25.000000,3.255467,28.262922,25.118786,3.381709
16,Soybean Full Fat,Pakistan,28.801812,36.898502,14.650320,29.144474,37.421050,16.565524
17,Soybean Full Fat,Vietnam,27.784888,25.000000,7.665938,27.951444,35.791327,13.742771
18,Soybean Full Fat,Indonesia,26.226015,48.066708,24.633067,26.768538,46.854571,23.623110
19,Soybean Full Fat,Philippines,27.772987,43.173138,20.651590,27.921309,41.141579,19.062889
20,Soybean Full Fat,Sri Lanka,31.796591,25.000000,6.796591,32.086475,25.946839,8.033314
21,Soybean Full Fat,Malaysia,29.231939,25.000000,4.337193,29.223518,29.421411,8.644929
22,Soybean Full Fat,Thailand,28.521642,25.000000,4.183379,28.607094,29.601539,8.208633
23,Soybean Full Fat,Australia,44.681845,56.036178,50.718023,44.681845,56.036178,50.718023
24,Soybean Full Fat,Bangladesh,25.497340,25.000000,0.497340,28.560794,25.000000,3.560794
25,Soybean Full Fat,New Zealand,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
26,Soybean Full Fat,Myanmar,35.763585,66.810121,52.109093,34.521031,59.081132,43.602163
27,Soybean Full Fat,Singapore,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
28,Soybean Expeller,India,41.998772,25.000000,16.998772,44.517840,28.897522,23.415362
29,Soybean Expeller,Nepal,44.852134,25.000000,19.852134,44.852134,25.000000,19.852134
30,Soybean Expeller,Pakistan,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
31,Soybean Expeller,Vietnam,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
32,Soybean Expeller,Indonesia,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
33,Soybean Expeller,Philippines,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
34,Soybean Expeller,Sri Lanka,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
35,Soybean Expeller,Malaysia,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
36,Soybean Expeller,Thailand,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
37,Soybean Expeller,Australia,48.836148,59.512134,58.348282,48.836148,59.512134,58.348282
38,Soybean Expeller,Bangladesh,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
39,Soybean Expeller,New Zealand,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
40,Soybean Expeller,Myanmar,56.779377,25.000000,31.779377,56.779377,25.000000,31.779377
41,Soybean Expeller,Singapore,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
42,"Soybean, Raw",India,35.414926,68.165212,53.244601,35.658683,66.314199,51.972882
43,"Soybean, Raw",Nepal,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
44,"Soybean, Raw",Pakistan,30.726764,66.988228,48.800613,31.390781,67.278474,48.669255
45,"Soybean, Raw",Vietnam,26.662562,60.641800,37.304361,26.619414,53.230788,29.850201
46,"Soybean, Raw",Indonesia,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
47,"Soybean, Raw",Philippines,27.378854,25.000000,3.926462,27.876005,38.874943,16.750948
48,"Soybean, Raw",Sri Lanka,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
49,"Soybean, Raw",Malaysia,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50,"Soybean, Raw",Thailand,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
51,"Soybean, Raw",Australia,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
52,"Soybean, Raw",Bangladesh,32.230922,25.000000,7.230922,33.486441,25.000000,8.486441
53,"Soybean, Raw",New Zealand,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
54,"Soybean, Raw",Myanmar,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
55,"Soybean, Raw",Singapore,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [93]:
holistic_df.to_excel(HOLISTIC_OUTPUT_FILE, index=False)