In [4]:
import pandas as pd
from ydata_profiling import ProfileReport
from pathlib import Path
import openpyxl

# Full Data FAST ProfileReport EDA

In [ ]:
DATA_PATH = 'C:/Users/weiji/Documents/Full Data.csv'
OUTPUT_PATH_pdReport = 'C:/Users/weiji/Documents/EDA_first_overall.html'


MEASURES = ['CP AA ASIS NIR','MET AA ASIS NIR',
'LYS AA ASIS NIR', 'KOH PS RED ASIS NIR', 'TIA A RED ASIS NIR', 'LYS REACTIVE LYS RATIO RED ASIS NIR']
INTERESTED_COLUMNS = ['Country','Country of processing','Customer', 'Delivery date',
                      'Description','Lab customer', 'Lab no','Supplier'] + MEASURES
df = pd.read_csv(DATA_PATH)
MAPPER = ''

df.columns = [c.upper() for c in df.columns]

df_filtered = df[[c.upper() for c in INTERESTED_COLUMNS]]
for m in MEASURES:
    if df_filtered[m].dtype == 'float64':
        continue
    else:
        df_filtered[m] = df_filtered[m].str.extract('([0-9.]+)').fillna(-1).apply(pd.to_numeric)


profile = ProfileReport(df_filtered, title='EDA First Overall Draft')
profile.to_file(OUTPUT_PATH_pdReport)

# Preprocessing

In [10]:
MAIN_FOLDER_PATH = Path('C:/Data/MtechCapStone_Y1S1')
DATA_DICTIONARY_PATH = 'Information/DataDictionary.xlsx'
RAW_FOLDER_PATH = 'RawData'

In [12]:
data_dictionary_df = pd.read_excel(MAIN_FOLDER_PATH / DATA_DICTIONARY_PATH)
data_dictionary_df.head()

,Fields Name,Example,Metrics,PreprocessingSteps
0,Customer,Venky's India Ltd - Nanded (64151),NaN,Keep
1,Lab customer,"Venky's India Ltd. - Nanded, Nanded, 56080",NaN,Keep
2,Country,India,NaN,Keep
3,Origin,India,NaN,Keep
4,Origin Subregion,NaN,NaN,Keep

In [ ]:
COLS_TO_BE_KEPT = data_dictionary_df[data_dictionary_df.PreprocessingSteps.isin(['Keep','Metrics'])]['Fields Name']
OUTPUT_LIST = []
for raw_file in (MAIN_FOLDER_PATH/RAW_FOLDER_PATH).iterdir():
    print(f"Loading {raw_file}")
    OUTPUT_LIST.append(pd.read_excel(raw_file, usecols=COLS_TO_BE_KEPT, dtype='string'))
overall_df = pd.concat(OUTPUT_LIST)

Loading C:\Data\MtechCapStone_Y1S1\RawData\2022-01.xlsx

In [56]:
COLS_TO_BE_KEPT

0                  Customer
1              Lab customer
2                   Country
3                    Origin
4          Origin Subregion
5           Origin province
6                  Supplier
7     Country of processing
8                    Lab no
9             Material type
10                 Material
11                    Phase
12             Release date
13            Delivery date
14              Description
15          Sample Descr. 1
16          Sample Descr. 2
17          Sample Descr. 3
18          Sample Descr. 4
19    DRYMATTER_AA_ASIS_NIR
Name: Fields Name, dtype: object

In [52]:
overall_df = pd.concat(OUTPUT_LIST)

In [55]:
overall_df.describe(include='all')

,Customer,Lab customer,Country,Origin,Origin Subregion,Origin province,Supplier,Country of processing,Lab no,Material type,Material,Phase,Release date,Delivery date,Description,Sample Descr. 1,Sample Descr. 2,Sample Descr. 3,Sample Descr. 4,DRYMATTER_AA_ASIS_NIR
count,39395,39395,39395,13043,0,0,3547,417,39395,39395,39395,0,39395,39395,3714,39273,35901,27642,6580,39431
unique,87,108,14,20,0,0,275,6,39395,1,4,0,324,325,1366,22369,16360,5700,2180,846
top,Shanthi Feeds Private Limited (4080),"Shanthi Feeds, Coimbatore, 3182",India,Argentina,NaN,NaN,FKS,Indonesia,IN22-0000012-001,Raw Materials,Soybean Meal,NaN,2022-10-21,2022-10-21,SBM,AMINONIR ADVANCED Evonik Full fat Soybean mea...,SBM,supplier name SHANTHI FEEDS,Silo no. Bin no.,88.85
freq,6734,6734,15719,5914,NaN,NaN,322,240,1,39395,33906,NaN,674,674,465,3103,2256,2321,839,164

In [13]:


df = pd.read_csv(DATA_PATH)
MAPPER = ''

df.columns = [c.upper() for c in df.columns]

df_filtered = df[[c.upper() for c in INTERESTED_COLUMNS]]
for m in MEASURES:
    if df_filtered[m].dtype == 'float64':
        continue
    else:
        df_filtered[m] = df_filtered[m].str.extract('([0-9.]+)').fillna(-1).apply(pd.to_numeric)


profile = ProfileReport(df_filtered, title='EDA First Overall Draft')
profile.to_file(OUTPUT_PATH_pdReport)

C:\Data\MtechCapStone_Y1S1\RawData\2022-01.xlsx
C:\Data\MtechCapStone_Y1S1\RawData\2022-02.xlsx
C:\Data\MtechCapStone_Y1S1\RawData\2022-03.xlsx
C:\Data\MtechCapStone_Y1S1\RawData\2022-04.xlsx
C:\Data\MtechCapStone_Y1S1\RawData\2022-05.xlsx
C:\Data\MtechCapStone_Y1S1\RawData\2022-06.xlsx
C:\Data\MtechCapStone_Y1S1\RawData\2022-07.xlsx
C:\Data\MtechCapStone_Y1S1\RawData\2022-08.xlsx
C:\Data\MtechCapStone_Y1S1\RawData\2022-09.xlsx
C:\Data\MtechCapStone_Y1S1\RawData\2022-10.xlsx
C:\Data\MtechCapStone_Y1S1\RawData\2022-11.xlsx
C:\Data\MtechCapStone_Y1S1\RawData\2022-12.xlsx

NameError: name 'DATA_PATH' is not defined